@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0;
}

.full-bg,
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.top {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 1000px;
    /* background-color: #1F2937; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

a {
    text-decoration: none;
}

a,
.sub-text-left,
.img-placeholder,
.sub,
.footer {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.first {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto 0;
}

.text-left {
    max-width: 450px;
}

.big-text-left {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;    
}

.sub-text-left {
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    padding: 6px 32px;
}

.img-placeholder {
    background-color: darkgray;
    width: 500px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}

.second {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 475px;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* gap: 50px; */
    /* flex: 1; */
    width: 750px;
    /* align-self: center; */
}

.item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  gap: 5px;
}

.box {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.item-text {
    text-align: center;
    color: grey;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
}

.quote {
    align-self: center;
    width: 830px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937
}

.author {
    width: 750px;
    font-size: 24px;
    align-self: center;
    text-align: right;
    font-weight: bold;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.blue-box {
    width: 1000px;
    height: 170px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.call {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    font-size: 25px;
    color: #F9FAF8;
    font-weight: 900; 
}

.second-button {
    border: 2px solid white;
}

.footer {
    height: 100px;
    align-items: center;

}